
.top1 {
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    font-size: 4vh;
    font-weight: 800;
    padding-bottom: 0vh;
    margin-bottom: 0px;
}

.top1txt {
    margin-bottom: 0;
} 

.top2 {
    display: flex;
    justify-content: space-around;
    font-size: 3.5vh;
    font-weight: 800;
    padding-bottom: 0vh;
    margin-bottom: 0px;
}

.top2txt {
    margin-top: 12.5px;
}

.flex_form {
    display: flex;
}

form {
    color: white;
    font-family: "Rubik";
    margin-left: 70vh;
    margin-top: 5vh;
}

input {
    height: 3vh;
    width: 38.5vh;
    border-radius: 0.9vh;
    border-style: hidden;
}

button {
    height: 3vh;
    border-radius: 0.9vh;
    border-style: hidden;
    background-color: rgba(119, 214, 132, 0.932);
}

textarea {
    border-radius: 0.9vh;
    border-style: hidden;
    width: 38.5vh;
}

select {
    height: 3vh;
    width: 38.5vh;
    border-radius: 0.9vh;
    border-style: hidden;
}

.top1txt2 {
    margin-top: 18vh;
}
