@charset "UTF-8";

.title {
    display: flex;
    justify-content: space-around;
    font-size: 6vh;
    font-weight: 800;
    padding-bottom: 0vh;
    margin-bottom: 0px;
}

.titletxt {
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.utitel {
    display: flex;
    justify-content: space-around;
    font-size: 3.5vh;
    font-weight: 600;
    padding-top: 0px;
    margin-top: 0px;
}

.h3txt {
    display: flex;
    justify-content: space-around;
    font-size: 6vh;
    font-weight: 800;
    padding-bottom: 0vh;
    margin-bottom: 0px;
}

#1txt {
    display: flex;
    justify-content: space-around;
    font-size: 3vh;
    font-weight: 600;
    padding-bottom: 0vh;
    margin-bottom: 0px;
    align-items: center;
}

img {
    border-radius: 25px;
}

.header_logo {
    border-radius: 0;
}