.header_logo {
    border-radius: 0px;
}


.stufen_title {
    display: flex;
    justify-content: space-around;
    font-size: 3.5vh;
    font-weight: 700;
}

.biber {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.biber_txt {
    font-size: large;
}

.wölfli {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.wölfli_txt {
    font-size: large;
}

.pfader {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.pfader_txt {
    font-size: large;
}

.pio {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.pio_txt {
    font-size: large;
}

.leiter {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.leiter_txt {
    font-size: large;
}

.leitungs_bild {
    margin-bottom: 3vh;
}

img {
    border-radius: 25px;
}

h2 {
    margin-top: 5vh;
}

#imp {
    font-weight: 700;
}