.header_logo {
    border-radius: 0px;
}

.biber {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.biber_txt {
    font-size: large;
}

.wölfli {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.wölfli_txt {
    font-size: large;
}

.pfader {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.pfader_txt {
    font-size: large;
}

.pio {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.leiter {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}

img {
    border-radius: 15px;
}

h2 {
    margin-top: 5vh;
}
